<!--======================================
        START WISHLIST AREA
======================================-->
<section class="wishlist-area pt-80px pb-80px position-relative">
  <div class="container">
      <form action="#" class="cart-form table-responsive px-2">
          <h3 class="fs-22 pb-4 fw-bold">My wishlist</h3>
          <table class="table generic-table">
              <thead>
              <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Stock Status</th>
                  <th scope="col">Action</th>
                  <th scope="col">Remove</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th scope="row">
                      <div class="media media-card align-items-center shadow-none p-0 mb-0 rounded-0 bg-transparent">
                          <a href="#" class="media-img d-block media-img-sm">
                              <img src="images/product-img.jpg" alt="Product image">
                          </a>
                          <div class="media-body">
                              <h5 class="fs-15 fw-medium"><a href="#">Chocolate bar</a></h5>
                          </div>
                      </div>
                  </th>
                  <td>$22</td>
                  <td>In Stock</td>
                  <td>
                      <a href="#" class="btn theme-btn theme-btn-sm">Add to Cart</a>
                  </td>
                  <td>
                      <a href="#" class="icon-element icon-element-xs shadow-sm" data-toggle="tooltip" data-placement="top" title="Remove item"><i class="la la-times"></i></a>
                  </td>
              </tr>
              <tr>
                  <th scope="row">
                      <div class="media media-card align-items-center shadow-none p-0 mb-0 rounded-0 bg-transparent">
                          <a href="#" class="media-img d-block media-img-sm">
                              <img src="images/product-img.jpg" alt="Product image">
                          </a>
                          <div class="media-body">
                              <h5 class="fs-15 fw-medium"><a href="#">Chocolate bar</a></h5>
                          </div>
                      </div>
                  </th>
                  <td>$22</td>
                  <td>In Stock</td>
                  <td>
                      <a href="#" class="btn theme-btn theme-btn-sm">Add to Cart</a>
                  </td>
                  <td>
                      <a href="#" class="icon-element icon-element-xs shadow-sm" data-toggle="tooltip" data-placement="top" title="Remove item"><i class="la la-times"></i></a>
                  </td>
              </tr>
              </tbody>
          </table>
      </form>
  </div><!-- end container -->
</section>
<!--======================================
      END WISHLIST AREA
======================================-->
